@import "common.scss";
@import "_minix.scss";
$font-size:37.5px !default;
@function rem($px) {
    @return $px / $font-size * 1rem;
}

%Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$bg:background;
$bor:border;
$pd:padding;
$mg:margin;
* {
    @include sizing;
    font-family: "微软雅黑";
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    @include width(100%);
    @include height(100%);
    @include box_flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    @include width(100%);
    @include height(30px);
    #{$bg}: #303030;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
}

.main {
    @include width(100%);
    flex: 1;
    overflow: scroll;
    font-size: 15px;
    ul {
        width: 100%;
        li {
            width: 90%;
            height: 30px;
            line-height: 30px;
            margin: 10px 4.5%;
            border: 1px solid #ccc;
        }
    }
}

.footer {
    font-size: 15px;
    @include width(100%);
    @include height(65px);
    #{$bor}-top: 1px solid #eee;
    box-shadow: 0 0 13px 0 #eee;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
}